.list {
    font-size: calc(16px + (21 - 16) * ((100vw - 320px)/(2100 - 320)))
}

.list__title {
    margin-block-start: .7em;
    margin-block-end: .3em;
    opacity: 1;
    font-size: 1.02em;
    font-weight: 600
}

@media screen and (min-width:768px) {
    .list__title {
        opacity: 0;
        transform: scale(1.2);
        transition: opacity .15s ease-in, transform .25s ease-in
    }
}

.list a,
.list a:visited,
.list a:active {
    text-decoration: none;
    font-weight: 700;
    margin-left: .3em;
    position: relative;
    color: #e32313
}

.list a:after,
.list a:visited:after,
.list a:active:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #e32313;
    left: 0;
    bottom: 0;
    z-index: 0;
    transform-origin: right;
    transition: transform .6s cubic-bezier(.49, -.28, .49, 1.18)
}

.list a:hover:after,
.list a:visited:hover:after,
.list a:active:hover:after {
    transform: scale(0)
}

.list__items {
    list-style: none;
    letter-spacing: .01rem;
    line-height: 1.5;
    margin-top: .2rem;
    margin-bottom: 2rem;
    padding-inline-start: 1em
}

@media screen and (min-width:400px) {
    .list__items {
        padding-inline-start: 1.8em
    }
}

.list__item {
    font-size: .9em;
    margin-bottom: 1.25rem;
    opacity: 1
}

@media screen and (min-width:768px) {
    .list__item {
        opacity: 0;
        transform: scale(1.1);
        transition: opacity .5s ease-in, transform .4s ease-in
    }
}

.list__item:before {
    content: "\2022";
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #e32313;
    font-size: 1.2em;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

@media screen and (min-width:768px) {
    .list.active .list__item {
        opacity: 1;
        transform: none
    }
}

@media screen and (min-width:768px) {
    .list.active .list__title {
        opacity: 1;
        transform: none
    }
}

.accordion_small {
    width: 100%;
    margin-top: .4rem
}

.accordion_small__handle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(270deg, #E5E5E5 0%, #F4F4F4 100%);
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: .8rem .9rem;
    font-size: calc(17px + (24 - 17) * ((100vw - 320px)/(2100 - 320)))
}

.accordion_small__handle-arrow {
    max-width: 1.02em;
    max-height: 1.02em;
    transform: rotate(0deg);
    transition: transform .2s ease-in-out
}

.accordion_small__title {
    text-align: left;
    margin: 0;
    font-size: 1em
}

.accordion_small__content {
    padding-left: 1.1rem
}

@media screen and (min-width:400px) {
    .accordion_small__content {
        padding-left: 1.4rem
    }
}

.accordion_small[aria-expanded=true] .accordion_small__handle {
    box-shadow: 0 6px 7px -1px #dedede
}

.accordion_small[aria-expanded=true] .accordion_small__handle-arrow {
    transform: rotate(45deg)
}

.accordion_small[aria-expanded=true] .accordion_small__content {
    padding: .75rem 1rem
}

.accordion_large {
    width: 100%;
    margin-bottom: 1rem
}

.accordion_large__handle {
    cursor: pointer;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-size: calc(17px + (26 - 17) * ((100vw - 320px)/(2100 - 320)));
    background: linear-gradient(270deg, #E5E5E5 0%, #F4F4F4 100%);
    border-radius: 7px;
    transition: all .3s ease-in-out;
    padding: .6em .8em
}

.accordion_large__handle:focus {
    box-shadow: 0 6px 7px -1px #dedede
}

.accordion_large__handle:active,
.accordion_large__handle:hover {
    transform: scale(1.02)
}

.accordion_large__handle .accordion_large__handle-arrow {
    max-width: 1.5em;
    max-height: 1.5em;
    transition: all .3s ease-in-out;
    margin-left: 1rem;
    flex: 1
}

.accordion_large__title-wrap {
    flex: 2;
    text-align: left;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.accordion_large__title {
    flex: 2;
    text-align: left;
    margin: 0;
    font-size: 1.1em
}

.accordion_large button:disabled h2,
.accordion_large button:disabled svg {
    opacity: .3
}

.accordion_large__icon-wrap {
    flex: 1;
    max-width: 2em;
    max-height: 2em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: .4em;
    z-index: 1
}

.accordion_large__icon-wrap:after {
    content: '';
    display: block;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, #FF6B00 0%, #f90 100%);
    box-shadow: 0 4px 4px 0 #ffd3b4;
    border-radius: 100%;
    z-index: -1
}

.accordion_large__icon {
    max-width: 1em;
    max-height: .9em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2
}

.accordion_large__content {
    overflow: hidden;
    padding: .75rem 1rem
}

.accordion_large[aria-expanded=true] .accordion_large__handle {
    box-shadow: 0 6px 7px -1px #dedede
}

.accordion_large[aria-expanded=false] .accordion_large__handle-arrow {
    transform: rotate(90deg)
}

.accordion_large[aria-expanded=false] .accordion_large__handle .accordion_large__title-wrap>svg {
    transform: scale(.9)
}

.table {
    width: 100%;
    border-collapse: collapse
}

.table__row {
    border-bottom: solid 1px #bab8b8;
    padding: 1rem 0
}

.table__row:first-child {
    border-top: solid 1px #bab8b8
}

@media(max-width:600px) {
    .table__row {
        display: flex;
        flex-direction: column
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false
}

@keyframes rotate {
    to {
        --angle: 360deg
    }
}

.manage-unlimited {
    padding: 1rem;
    max-width: 64rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column
}

.manage-unlimited h1 {
    margin: 3rem 1rem 1rem
}

.manage-unlimited p {
    margin: .5rem 1rem 1rem
}

.manage-unlimited__inner {
    margin: auto;
    max-width: 1024px
}

.manage-unlimited .accordion_large__content>p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    max-width: 600px;
    margin-bottom: 3rem
}

.manage-unlimited__person path:first-of-type {
    fill: #e32313
}

.manage-unlimited__card .accordion_large__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2.5rem 1rem
}

@media(max-width:458px) {
    .manage-unlimited__card .accordion_large__content {
        margin: 2.5rem 0
    }
}

.manage-unlimited__card__status {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem
}

.manage-unlimited__card__status__details {
    font-size: .875rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: .75rem
}

.manage-unlimited__card__button {
    margin: 2.5rem 0 1.5rem;
    width: fit-content;
    white-space: normal;
    height: auto;
    padding: 1rem 2.25rem
}

.manage-unlimited__card__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 20rem;
    min-height: 15rem;
    padding: 0;
    border: none;
    background: 0 0
}

.manage-unlimited__card__image--managed {
    min-height: unset;
    display: flex;
    flex-direction: column;
    align-items: center
}

.manage-unlimited__card__image--managed img {
    max-height: 8rem
}

@media(max-width:458px) {
    .manage-unlimited__card__image--mobile-toggled {
        min-height: 24rem
    }
}

.manage-unlimited__card--card {
    position: relative;
    max-width: 20rem;
    width: 100%;
    flex: 1 1 auto;
    perspective: 500px
}

.manage-unlimited__card--content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d
}

.manage-unlimited__card--content--flipped {
    transform: rotateY(180deg);
    transition: transform .5s
}

.manage-unlimited__card--front,
.manage-unlimited__card--back {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.manage-unlimited__card--front--managed,
.manage-unlimited__card--back--managed {
    max-height: 5.5rem
}

.manage-unlimited__card--front {
    object-fit: contain
}

.manage-unlimited__card--back {
    border-radius: .5rem;
    color: #fff;
    transform: rotateY(180deg)
}

.manage-unlimited__card__number {
    font-size: .8125rem;
    font-weight: 500;
    color: #5d5d5d;
    margin-top: .75rem
}

.manage-unlimited__circle-check {
    fill: #448946
}

.manage-unlimited__table-intro {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 3rem 0 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap
}

.manage-unlimited__detail-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem .75rem 1.5rem 0;
    padding-right: .75rem
}

.manage-unlimited__detail-cell--cancelled {
    color: red;
    width: 100%;
    text-align: right;
    padding-right: .6rem;
    text-transform: uppercase
}

@media(max-width:600px) {
    .manage-unlimited__detail-cell {
        padding: 0
    }
}

.manage-unlimited__detail-cell h3 {
    font-size: 1.1875rem;
    font-weight: 700;
    margin: 0
}

.manage-unlimited__detail-cell p {
    font-size: .875rem;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase
}

.manage-unlimited__detail-cell svg {
    height: 20px;
    width: 18px;
    margin-right: 1rem
}

.manage-unlimited__detail-cell button {
    margin-left: .5rem
}

.manage-unlimited__all {
    margin-top: 2.875rem;
    margin-left: auto
}

.manage-unlimited__add-friend {
    margin: 2.5rem 0 3rem auto;
    width: fit-content;
    white-space: normal
}

.manage-unlimited__add-friend svg {
    min-width: 1.25rem
}

.manage-unlimited__add-friend>div {
    display: flex;
    align-items: center
}

.manage-unlimited .accordion_large__content .table__row .table__cell:last-child .manage-unlimited__detail-cell {
    padding-right: 0;
    justify-content: flex-end
}

@media(max-width:600px) {
    .manage-unlimited .accordion_large__content .table__row .table__cell {
        padding: 6px 0
    }
}

.manage-unlimited__separator {
    border: none;
    height: .3125rem;
    background: #d8d8d8
}

.manage-unlimited__add-managed {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.manage-unlimited__add-managed h3 {
    margin: 1rem 0 .5rem
}

.manage-unlimited__add-managed p {
    margin: 0 0 1.5rem
}

.manage-unlimited__add-managed button {
    white-space: normal
}

.manage-unlimited-non-unlimited {
    padding: 0
}

.manage-unlimited__tastecard {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem
}

.manage-unlimited__tastecard p {
    margin: 0
}

.manage-unlimited__tastecard-container {
    background: linear-gradient(90deg, #4A4A4A 0%, #000 100%);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14);
    width: 31.625rem;
    height: 9.625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: .625rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25)
}

@media screen and (max-width:800px) {
    .manage-unlimited__tastecard-container {
        width: 18.75rem;
        height: 11.313rem;
        flex-direction: column;
        align-items: center
    }
}

.manage-unlimited__tastecard_left-container {
    height: 100%;
    width: 11.75rem;
    display: flex;
    align-items: center;
    position: relative
}

.manage-unlimited__tastecard_left-container svg {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

@media screen and (min-width:800px) {
    .manage-unlimited__tastecard_left-container svg {
        position: absolute;
        left: -1rem;
        padding-top: .5rem
    }
}

@media screen and (max-width:800px) {
    .manage-unlimited__tastecard_left-container svg {
        width: 8.34rem;
        height: 3.375rem;
        position: absolute;
        top: -1rem
    }
}

.manage-unlimited__tastecard_right-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 17.938rem
}

.manage-unlimited__tastecard_description {
    font-size: .875rem;
    line-height: 1.125em;
    padding-bottom: .5rem
}

.manage-unlimited__tastecard_message {
    font-size: .688rem;
    line-height: .813em;
    font-weight: 50;
    padding-bottom: 1.125rem
}

.manage-unlimited__tastecard_code-container {
    display: flex;
    flex-direction: row;
    width: 15.063rem;
    height: 1.813rem;
    align-items: center
}

.manage-unlimited__tastecard_code {
    color: #000;
    background: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .188em 0 0 .188em;
    padding: 0 .75rem;
    font-weight: 300;
    font-size: .813rem;
    line-height: .938rem;
    letter-spacing: .11em
}

.manage-unlimited__tastecard_copy-button {
    position: relative;
    background: linear-gradient(90.8deg, #740000 .4%, #E10000 99.29%);
    width: 6.313rem;
    font-size: .813rem;
    line-height: .938rem;
    border: none;
    color: #fff;
    height: 100%;
    border-radius: 0 .188em .188em 0;
    cursor: pointer;
    z-index: 1
}

.manage-unlimited__tastecard_copy-button svg {
    height: 100%
}

.manage-unlimited__tastecard_copy-button:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90.8deg, #E10000 .4%, #740000 99.29%);
    z-index: -1;
    transition: all .15s ease-in-out;
    opacity: 0
}

.manage-unlimited__tastecard_copy-button:hover:before {
    opacity: 1
}

.manage-unlimited__tastecard-link {
    color: #fff;
    padding-left: .2rem
}

@media screen and (max-width:800px) {
    .manage-unlimited__tastecard_left-container {
        width: 100%;
        justify-content: center
    }

    .manage-unlimited__tastecard_right-container {
        padding: 0 0 1.5rem 1.5rem
    }
}

.manage-unlimited__qr {
    --angle: 0deg;
    padding: .5rem;
    border-radius: 1rem;
    background: linear-gradient(var(--angle), #000 0%, #E32313 100%);
    animation: 5s rotate linear infinite;
    width: calc(100% - 1rem)
}

@keyframes rotate {
    to {
        --angle: 360deg
    }
}

.manage-unlimited__qr__content {
    background: #fff;
    border-radius: .5rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem .675rem .75rem;
    flex-direction: column
}

.manage-unlimited__qr__content img {
    max-width: 128px;
    width: 100%;
    height: auto;
    margin: auto .375rem
}

.manage-unlimited__qr__content canvas {
    margin: auto .375rem
}

@media(max-width:458px) {
    .manage-unlimited__qr__content {
        padding: .675rem 1rem
    }

    .manage-unlimited__qr__content img,
    .manage-unlimited__qr__content canvas {
        margin: .375rem auto
    }
}

.manage-unlimited__qr__content h3 {
    color: #000;
    margin: .25rem 0 0
}

.unlimited {
    background-color: #fff;
    padding: 1rem;
    max-width: 64rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column
}

.unlimited-request-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%
}

@media screen and (max-width:37.5rem) {
    .unlimited-accordion .accordion_large__content {
        margin: 2.5rem 0;
        padding: .75rem 0
    }
}

.unlimited-sync-wrapper h1 {
    margin: .5rem 0;
    font-size: 1.125rem
}

.unlimited-sync-wrapper .paragraph-500 {
    margin: 0;
    font-size: .875rem
}

.unlimited-sync-wrapper .request-unlimited-sync__phone {
    margin: 1.5rem 1rem 3rem 0
}

@media screen and (max-width:1024px) {
    .unlimited-sync-wrapper {
        width: 100%
    }
}

.unlimited-tab-wrapper {
    margin: 0 auto
}

@media screen and (max-width:1024px) {
    .unlimited-tab-wrapper {
        width: 100%
    }
}

.unlimited-tab {
    margin: 0 auto 3rem;
    max-width: 29rem
}

.unlimited-tab h1 {
    margin: .5rem 0;
    font-size: 1.125rem
}

.unlimited-tab section {
    margin: 0 2rem 1rem 0;
    font-size: .875rem
}

@media screen and (max-width:1024px) {
    .unlimited-tab section {
        margin: 1rem 0
    }
}

.unlimited-tab a {
    color: #e32313;
    text-decoration: none
}

.unlimited-tab p {
    margin-top: .5rem
}