* {
    margin: 0;
}

#abv {
    display: block;
}

#abv>div {
    font-size: 16px;
    padding-bottom: 4rem;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
}

.abv-content {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    background: #fff;
    margin: 0;
    background-color: #FFFFFF;
}

#abv>div>div.abv-content>div.abv-routes {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    overflow: hidden;
    padding-bottom: 3rem;
    left: 0;
    width: 100%;
    min-height: 100%;
    margin-top: 68.6406px;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 600;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    width: 100%;
    background-color: #000;
    align-items: center;
    box-shadow: 0 2px 6px 0 rgba(74, 74, 74, .5);
    z-index: 500;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div>div {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 60em;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    box-sizing: border-box;
    position: relative;
    display: block;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div>div>button {
    font-family: roboto, Helvetica, sans-serif;
    background: 0 0;
    border: none;
    display: block;
    cursor: pointer;
    margin: auto;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div>div>button>svg {
    font-family: roboto, Helvetica, sans-serif;
    cursor: pointer;
    width: 157;
    fill: none;
    padding: 1em 0;
    display: block;
    height: 2.5rem;
    margin: 0 auto;
    justify-content: center;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div>div>button>svg>path:nth-child(1) {
    font-family: roboto, Helvetica, sans-serif;
    cursor: pointer;
    d: path("M 16.5661 12.1855 C 16.5661 12.1855 20.1759 7.79874 21.6092 6.09277 C 22.0339 7.99371 22.8832 12.1368 22.8832 12.1368 H 29.8904 C 27.6608 13.6478 23.2548 16.6698 23.2548 16.6698 C 23.2548 16.6698 23.6264 22.7626 23.7857 24.8585 C 21.9277 23.6399 16.8847 20.2767 16.8847 20.2767 C 16.8847 20.2767 11.0984 23.1038 8.0726 24.6148 C 9.87748 21.9827 13.2218 17.1085 13.2218 17.1085 C 13.2218 17.1085 10.3552 13.6965 9.18738 12.2343 L 16.5661 12.1855 Z M 37.8 9.65094 H 25.4844 C 25.272 8.6761 23.2548 0 23.2548 0 C 23.2548 0 15.7168 9.16352 15.239 9.69969 H 3.45424 C 3.45424 9.69969 9.08121 16.7186 9.66514 17.4009 C 9.18738 18.1808 0.800003 31 0.800003 31 C 0.800003 31 15.3452 23.8349 16.1946 23.3962 C 16.9377 23.8836 27.0769 30.6588 27.0769 30.6588 C 27.0769 30.6588 26.3868 18.2296 26.3337 17.5472 C 26.9177 17.1572 37.8 9.65094 37.8 9.65094 Z");
    fill: rgb(227, 35, 19);
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div>div>button>svg>path:nth-child(2) {
    font-family: roboto, Helvetica, sans-serif;
    cursor: pointer;
    d: path("M 135.8 9 V 28 H 138.8 V 9 H 138.578 H 135.8 Z");
    fill: white;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div>div>button>svg>path:nth-child(3) {
    font-family: roboto, Helvetica, sans-serif;
    cursor: pointer;
    d: path("M 128.744 16.3782 V 15.3132 H 125.8 V 28 H 128.856 V 20.6843 C 128.856 19.6656 129.244 18.8785 130.022 18.3228 C 130.856 17.6746 132.078 17.3968 133.522 17.4431 H 133.8 V 15.0354 H 133.578 C 131.689 14.8502 129.911 15.4058 128.744 16.3782 Z");
    fill: white;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div>div>button>svg>path:nth-child(4) {
    font-family: roboto, Helvetica, sans-serif;
    cursor: pointer;
    d: path("M 106.44 15 H 103.818 C 103.818 15 101.402 22.7143 100.99 23.9048 C 100.63 22.6667 98.1625 15 98.1625 15 H 95.3861 C 95.3861 15 92.9183 22.7143 92.5584 23.9048 C 92.147 22.6667 89.7306 15 89.7306 15 H 86.8 L 91.1702 28 H 93.9465 C 93.9465 28 96.4144 20.1905 96.7743 18.9524 C 97.1856 20.1905 99.6021 28 99.6021 28 H 102.43 L 106.8 15 H 106.44 Z");
    fill: white;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div>div>button>svg>path:nth-child(5) {
    font-family: roboto, Helvetica, sans-serif;
    cursor: pointer;
    d: path("M 53.4774 10 H 50.3161 L 49.8 13 H 53.3484 L 53.8 10 H 53.4774 Z");
    fill: white;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div>div>button>svg>path:nth-child(6) {
    font-family: roboto, Helvetica, sans-serif;
    cursor: pointer;
    d: path("M 62.5481 15 C 60.9478 15 59.5076 15.5107 58.3341 16.3464 C 58.3874 15.975 58.4941 15.325 58.4941 15.325 H 55.667 L 53.8 28 H 56.7338 L 57.854 20.2929 C 58.1207 18.575 59.881 17.2286 61.9613 17.2286 C 62.9215 17.2286 63.6683 17.4607 64.2017 17.925 C 64.7885 18.4821 65.0018 19.2714 64.8418 20.2464 L 63.7216 27.9536 H 66.6021 L 67.7223 20.3857 C 67.989 18.6679 67.5623 17.2286 66.5488 16.2536 C 65.5353 15.4643 64.2017 15 62.5481 15 Z");
    fill: white;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div>div>button>svg>path:nth-child(7) {
    font-family: roboto, Helvetica, sans-serif;
    cursor: pointer;
    d: path("M 49.7444 15 L 47.8 28 H 50.8556 L 52.8 15 H 52.5222 H 49.7444 Z");
    fill: white;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div>div>button>svg>path:nth-child(8) {
    font-family: roboto, Helvetica, sans-serif;
    cursor: pointer;
    d: path("M 41.0965 17.3415 C 42.7856 17.3415 44.1052 18.1707 44.7386 19.5854 L 44.7913 19.7317 H 47.8 L 47.7472 19.4878 C 47.061 16.7073 44.633 15 41.3076 15 C 37.1905 15 33.3901 18.122 32.8623 21.9756 C 32.5983 23.878 33.179 25.6829 34.4986 27.0488 C 35.7126 28.3171 37.5072 29 39.4602 29 C 42.7328 29 45.6887 27.2927 47.061 24.561 L 47.2194 24.2683 H 44.1579 L 44.1052 24.3659 C 43.1023 25.7805 41.5188 26.6098 39.7769 26.6098 C 38.6157 26.6098 37.6128 26.2195 36.8738 25.439 C 36.0293 24.561 35.607 23.3415 35.8181 22.0244 C 36.1348 19.439 38.5101 17.3415 41.0965 17.3415 Z");
    fill: white;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div>div>button>svg>path:nth-child(9) {
    font-family: roboto, Helvetica, sans-serif;
    cursor: pointer;
    d: path("M 156.8 28.6482 V 9 H 156.539 H 153.925 V 16.5377 C 152.932 15.5327 151.26 14.5779 149.274 14.5779 C 145.093 14.5779 141.8 17.7437 141.8 21.8141 C 141.8 25.8342 145.093 29 149.274 29 C 151.364 29 153.037 27.995 154.03 26.9397 V 28.6482 H 156.8 Z M 154.03 21.7638 C 154.03 24.3769 151.835 26.5879 149.274 26.5879 C 146.661 26.5879 144.57 24.4271 144.57 21.7638 C 144.57 19.0503 146.661 16.8894 149.274 16.8894 C 151.887 16.8894 154.03 19.1005 154.03 21.7638 Z");
    fill: white;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div>div>button>svg>path:nth-child(10) {
    font-family: roboto, Helvetica, sans-serif;
    cursor: pointer;
    d: path("M 122.8 21.049 C 122.8 17.0839 119.496 14 115.3 14 C 111.104 14 107.8 17.0839 107.8 21.049 C 107.8 24.965 111.104 28 115.3 28 C 119.496 28 122.8 24.965 122.8 21.049 Z M 120.073 21 C 120.073 23.5944 117.922 25.6504 115.3 25.6504 C 112.678 25.6504 110.58 23.5455 110.58 21 C 110.58 18.3566 112.73 16.2028 115.3 16.2028 C 117.922 16.2517 120.073 18.3566 120.073 21 Z");
    fill: white;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div>div>button>svg>path:nth-child(11) {
    font-family: roboto, Helvetica, sans-serif;
    cursor: pointer;
    d: path("M 84.8 21.4615 C 84.8 19.6993 84.2274 18.1329 83.0823 16.958 C 81.8852 15.7343 80.1675 15 78.2416 15 C 74.1296 15 70.3819 18.1329 69.8614 22 C 69.6011 23.9091 70.1737 25.7203 71.475 27.042 C 72.7242 28.3147 74.546 29 76.576 29 C 79.9593 29 82.718 27.3846 84.1754 24.5455 L 84.3315 24.2517 H 81.3126 L 81.2605 24.3496 C 80.2716 25.8182 78.7621 26.6504 76.8883 26.6504 C 75.7431 26.6504 74.7021 26.2587 73.9214 25.5734 C 73.1406 24.8881 72.7762 23.9091 72.7242 22.8322 H 84.748 V 22.6364 C 84.8 22.2448 84.8 21.8042 84.8 21.4615 Z M 81.9893 20.5315 H 73.0365 C 74.0255 18.3776 76.2637 17.2517 78.0334 17.2517 C 80.0113 17.2517 81.677 18.6224 81.9893 20.5315 Z");
    fill: white;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div>div>button>svg {
    font-family: roboto, Helvetica, sans-serif;
    cursor: pointer;
    width: 157;
    fill: none;
    padding: 1em 0;
    display: block;
    height: 2.5rem;
    margin: 0 auto;
    justify-content: center;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div>div>button {
    font-family: roboto, Helvetica, sans-serif;
    background: 0 0;
    border: none;
    display: block;
    cursor: pointer;
    margin: auto;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div>div {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 60em;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    box-sizing: border-box;
    position: relative;
    display: block;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container>div {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    width: 100%;
    background-color: #000;
    align-items: center;
    box-shadow: 0 2px 6px 0 rgba(74, 74, 74, .5);
    z-index: 500;
}

#abv>div>div.abv-content>div.abv-routes>div.header_container {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 600;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2) {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    position: relative;
    height: 788.438px;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 688.438px;
    opacity: 1;
    transform: translateX(0vw) translateZ(0px);
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    padding: 2em .5em 1em;
    background: #fff;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    max-width: 23.5em;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>h1 {
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    font-size: 1.5625rem;
    font-weight: 700;
    text-align: center;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(2) {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0 .5em .5em;
    flex: 1 1 0;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(2)>label {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
}

#username-label {
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: .5rem 0;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(2)>label>input[type=text] {
    font-weight: 400;
    font-family: roboto, Helvetica, sans-serif;
    padding: 1rem;
    border-radius: .25rem;
    width: 100%;
    border: solid 1px #bab8b8;
    box-sizing: border-box;
    font-size: 1rem;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(2)>label {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(2) {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0 .5em .5em;
    flex: 1 1 0;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(3) {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0 .5em .5em;
    flex: 1 1 0;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(3)>label {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
}

#password-label {
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: .5rem 0;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(3)>label>div {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    position: relative;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(3)>label>div>input[type=password] {
    font-weight: 400;
    font-family: roboto, Helvetica, sans-serif;
    padding: 1rem;
    border-radius: .25rem;
    width: 100%;
    border: solid 1px #bab8b8;
    box-sizing: border-box;
    font-size: 1rem;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(3)>label>div>button {
    border: none;
    position: absolute;
    height: 1.4rem;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    padding: 0 !important;
    margin: 0 !important;
    background: 0 0;
    fill: #bab8b8;
    text-transform: uppercase !important;
    font-size: .8rem !important;
    font-weight: 700 !important;
    font-family: roboto, Helvetica, sans-serif;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(3)>label>div>button>svg {
    fill: #bab8b8;
    text-transform: uppercase !important;
    font-size: .8rem !important;
    font-weight: 700 !important;
    font-family: roboto, Helvetica, sans-serif;
    width: 22;
    height: 16;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(3)>label>div>button>svg>path {
    fill: #bab8b8;
    text-transform: uppercase !important;
    font-size: .8rem !important;
    font-weight: 700 !important;
    font-family: roboto, Helvetica, sans-serif;
    fill-rule: evenodd;
    clip-rule: evenodd;
    d: path("M 11 0.5 C 6 0.5 1.73 3.61 0 8 C 1.73 12.39 6 15.5 11 15.5 C 16 15.5 20.27 12.39 22 8 C 20.27 3.61 16 0.5 11 0.5 Z M 11 13 C 8.24 13 6 10.76 6 8 C 6 5.24 8.24 3 11 3 C 13.76 3 16 5.24 16 8 C 16 10.76 13.76 13 11 13 Z M 11 5 C 9.34 5 8 6.34 8 8 C 8 9.66 9.34 11 11 11 C 12.66 11 14 9.66 14 8 C 14 6.34 12.66 5 11 5 Z");
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(3)>label>div>button>svg {
    fill: #bab8b8;
    text-transform: uppercase !important;
    font-size: .8rem !important;
    font-weight: 700 !important;
    font-family: roboto, Helvetica, sans-serif;
    width: 22;
    height: 16;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(3)>label>div>button {
    border: none;
    position: absolute;
    height: 1.4rem;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    padding: 0 !important;
    margin: 0 !important;
    background: 0 0;
    fill: #bab8b8;
    text-transform: uppercase !important;
    font-size: .8rem !important;
    font-weight: 700 !important;
    font-family: roboto, Helvetica, sans-serif;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(3)>label>div {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    position: relative;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(3)>label {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(3) {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0 .5em .5em;
    flex: 1 1 0;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div.btn-wrapper {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    width: 100%;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div.btn-wrapper>button {
    opacity: 1;
    transition: all .2s ease-in-out;
    min-width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    position: relative;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background: #e32313;
    color: #fff;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-family: roboto, Helvetica, sans-serif;
    margin: .75rem .5rem;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div.btn-wrapper>button>div {
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    font-size: 1rem;
    font-family: roboto, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 1;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div.btn-wrapper>button {
    opacity: 1;
    transition: all .2s ease-in-out;
    min-width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    position: relative;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background: #e32313;
    color: #fff;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-family: roboto, Helvetica, sans-serif;
    margin: .75rem .5rem;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div.btn-wrapper {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    width: 100%;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div.login-links {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    text-align: center;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div.login-links>p.register-link {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    text-align: center;
    margin: .5rem 0;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div.login-links>p.register-link>button {
    font-size: 1rem;
    font-weight: 500;
    color: #e32313;
    border: none;
    background: 0 0;
    text-decoration: none;
    padding: 0;
    cursor: pointer;
    font-family: roboto, Helvetica, sans-serif;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div.login-links>p.register-link {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    text-align: center;
    margin: .5rem 0;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div.login-links>p.forgot-password-link.descriptor {
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    text-align: center;
    font-size: .875rem;
    font-weight: 400;
    margin: .5rem 0;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div.login-links>p.forgot-password-link.descriptor>button {
    font-size: 1rem;
    font-weight: 500;
    color: #e32313;
    border: none;
    background: 0 0;
    text-decoration: none;
    padding: 0;
    cursor: pointer;
    font-family: roboto, Helvetica, sans-serif;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div.login-links>p.forgot-password-link.descriptor {
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    text-align: center;
    font-size: .875rem;
    font-weight: 400;
    margin: .5rem 0;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div.login-links {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    text-align: center;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div.divider {
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    height: 1px;
    background: #d8d8d8;
    position: relative;
    font-size: .875rem;
    font-weight: 400;
    width: auto;
    margin: 1.5rem .5rem;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div.divider>p {
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    color: #d8d8d8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    margin: 0;
    padding: 0 .5em;
    text-transform: uppercase;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div.divider {
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    height: 1px;
    background: #d8d8d8;
    position: relative;
    font-size: .875rem;
    font-weight: 400;
    width: auto;
    margin: 1.5rem .5rem;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(7) {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(7)>div {
    font-size: 16px;
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(7)>div>button {
    opacity: 1;
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    position: relative;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-size: 1rem;
    font-family: roboto, Helvetica, sans-serif;
    min-width: 16em;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background: #1877f2;
    color: #fff;
    padding: .625rem 1.5rem;
    margin: .75rem .5rem;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(7)>div>button>div {
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    font-size: 1rem;
    font-family: roboto, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    vertical-align: middle;
    display: flex;
    align-items: center;
    opacity: 1;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div:nth-child(7)>div>button>div>svg {
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    font-size: 1rem;
    font-family: roboto, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    fill: rgb(255, 255, 255);
    vertical-align: middle;
    margin-right: .5em;
    height: 2rem;
    width: 2rem;
}

button>div>svg>path {
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    font-size: 1rem;
    font-family: roboto, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    d: path("M 36 18.1101 C 36 8.10814 27.9411 0 18 0 C 8.05887 0 0 8.10814 0 18.1101 C 0 27.1493 6.58234 34.6415 15.1875 36 L 15.1875 23.345 L 10.6172 23.345 L 10.6172 18.1101 L 15.1875 18.1101 L 15.1875 14.1202 C 15.1875 9.58135 17.8748 7.07424 21.9864 7.07424 C 23.9557 7.07424 26.0156 7.42795 26.0156 7.42795 L 26.0156 11.8847 L 23.7459 11.8847 C 21.5098 11.8847 20.8125 13.2807 20.8125 14.7129 L 20.8125 18.1101 L 25.8047 18.1101 L 25.0066 23.345 L 20.8125 23.345 L 20.8125 36 C 29.4177 34.6415 36 27.1493 36 18.1101");
    vertical-align: middle;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div.captcha {
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    text-align: center;
    padding: .5rem;
    font-size: .875rem;
    max-width: 22rem;
    margin: 0 auto;
}

a:nth-child(1) {
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    text-align: center;
    font-size: .875rem;
    color: #e32313;
    text-decoration: none;
    margin-left: .25rem;
}

a:nth-child(2) {
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    text-align: center;
    font-size: .875rem;
    color: #e32313;
    text-decoration: none;
    margin-left: .25rem;
}

#abv>div>div.abv-content>div.abv-routes>div:nth-child(2)>div>div>div>form>div.captcha>div>div>div {
    line-height: 1.45;
    font-family: roboto, Helvetica, sans-serif;
    text-align: center;
    font-size: .875rem;
    color: #e32313;
    text-decoration: none;
    margin-left: .25rem;
}
