.list {
    font-size: calc(16px + (21 - 16) * ((100vw - 320px)/(2100 - 320)))
}

.list__title {
    margin-block-start: .7em;
    margin-block-end: .3em;
    opacity: 1;
    font-size: 1.02em;
    font-weight: 600
}

@media screen and (min-width:768px) {
    .list__title {
        opacity: 0;
        transform: scale(1.2);
        transition: opacity .15s ease-in, transform .25s ease-in
    }
}

.list a,
.list a:visited,
.list a:active {
    text-decoration: none;
    font-weight: 700;
    margin-left: .3em;
    position: relative;
    color: #e32313
}

.list a:after,
.list a:visited:after,
.list a:active:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #e32313;
    left: 0;
    bottom: 0;
    z-index: 0;
    transform-origin: right;
    transition: transform .6s cubic-bezier(.49, -.28, .49, 1.18)
}

.list a:hover:after,
.list a:visited:hover:after,
.list a:active:hover:after {
    transform: scale(0)
}

.list__items {
    list-style: none;
    letter-spacing: .01rem;
    line-height: 1.5;
    margin-top: .2rem;
    margin-bottom: 2rem;
    padding-inline-start: 1em
}

@media screen and (min-width:400px) {
    .list__items {
        padding-inline-start: 1.8em
    }
}

.list__item {
    font-size: .9em;
    margin-bottom: 1.25rem;
    opacity: 1
}

@media screen and (min-width:768px) {
    .list__item {
        opacity: 0;
        transform: scale(1.1);
        transition: opacity .5s ease-in, transform .4s ease-in
    }
}

.list__item:before {
    content: "\2022";
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #e32313;
    font-size: 1.2em;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

@media screen and (min-width:768px) {
    .list.active .list__item {
        opacity: 1;
        transform: none
    }
}

@media screen and (min-width:768px) {
    .list.active .list__title {
        opacity: 1;
        transform: none
    }
}

.accordion_small {
    width: 100%;
    margin-top: .4rem
}

.accordion_small__handle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(270deg, #E5E5E5 0%, #F4F4F4 100%);
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: .8rem .9rem;
    font-size: calc(17px + (24 - 17) * ((100vw - 320px)/(2100 - 320)))
}

.accordion_small__handle-arrow {
    max-width: 1.02em;
    max-height: 1.02em;
    transform: rotate(0deg);
    transition: transform .2s ease-in-out
}

.accordion_small__title {
    text-align: left;
    margin: 0;
    font-size: 1em
}

.accordion_small__content {
    padding-left: 1.1rem
}

@media screen and (min-width:400px) {
    .accordion_small__content {
        padding-left: 1.4rem
    }
}

.accordion_small[aria-expanded=true] .accordion_small__handle {
    box-shadow: 0 6px 7px -1px #dedede
}

.accordion_small[aria-expanded=true] .accordion_small__handle-arrow {
    transform: rotate(45deg)
}

.accordion_small[aria-expanded=true] .accordion_small__content {
    padding: .75rem 1rem
}

.accordion_large {
    width: 100%;
    margin-bottom: 1rem
}

.accordion_large__handle {
    cursor: pointer;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-size: calc(17px + (26 - 17) * ((100vw - 320px)/(2100 - 320)));
    background: linear-gradient(270deg, #E5E5E5 0%, #F4F4F4 100%);
    border-radius: 7px;
    transition: all .3s ease-in-out;
    padding: .6em .8em
}

.accordion_large__handle:focus {
    box-shadow: 0 6px 7px -1px #dedede
}

.accordion_large__handle:active,
.accordion_large__handle:hover {
    transform: scale(1.02)
}

.accordion_large__handle .accordion_large__handle-arrow {
    max-width: 1.5em;
    max-height: 1.5em;
    transition: all .3s ease-in-out;
    margin-left: 1rem;
    flex: 1
}

.accordion_large__title-wrap {
    flex: 2;
    text-align: left;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.accordion_large__title {
    flex: 2;
    text-align: left;
    margin: 0;
    font-size: 1.1em
}

.accordion_large button:disabled h2,
.accordion_large button:disabled svg {
    opacity: .3
}

.accordion_large__icon-wrap {
    flex: 1;
    max-width: 2em;
    max-height: 2em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: .4em;
    z-index: 1
}

.accordion_large__icon-wrap:after {
    content: '';
    display: block;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, #FF6B00 0%, #f90 100%);
    box-shadow: 0 4px 4px 0 #ffd3b4;
    border-radius: 100%;
    z-index: -1
}

.accordion_large__icon {
    max-width: 1em;
    max-height: .9em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2
}

.accordion_large__content {
    overflow: hidden;
    padding: .75rem 1rem
}

.accordion_large[aria-expanded=true] .accordion_large__handle {
    box-shadow: 0 6px 7px -1px #dedede
}

.accordion_large[aria-expanded=false] .accordion_large__handle-arrow {
    transform: rotate(90deg)
}

.accordion_large[aria-expanded=false] .accordion_large__handle .accordion_large__title-wrap>svg {
    transform: scale(.9)
}

.table {
    width: 100%;
    border-collapse: collapse
}

.table__row {
    border-bottom: solid 1px #bab8b8;
    padding: 1rem 0
}

.table__row:first-child {
    border-top: solid 1px #bab8b8
}

@media(max-width:600px) {
    .table__row {
        display: flex;
        flex-direction: column
    }
}

.expand-icon {
    display: flex;
    flex-direction: column
}

.expand-icon svg:first-of-type {
    margin-bottom: .35rem
}

.expired-card {
    color: red
}

.subscription-method {
    max-width: 45rem;
    background: #fff;
    width: 100%
}

.subscription-method--manage {
    max-width: none
}

.subscription-method__intro {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 1.5rem 0 2rem
}

.subscription-method__wrapper {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem
}

.subscription-method__wrapper--manage {
    padding: 1rem 0
}

.subscription-method__expiration-date {
    text-transform: initial !important;
    margin-left: 2.5rem !important;
    display: flex;
    align-items: center
}

.subscription-method__card-image {
    height: 1.125rem;
    width: 1.6875rem;
    margin-right: 1rem
}

.subscription-method__card-info {
    max-width: 35rem;
    display: flex
}

@media screen and (max-width:470px) {
    .subscription-method__card-info {
        flex-direction: column
    }

    .subscription-method__card-info .past-due-unlimited__expiration-date {
        margin-left: 0 !important
    }
}

.subscription-method__table-intro {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 1.5rem 0 2rem
}

.subscription-method h4 {
    font-size: 1.125rem;
    font-weight: 700;
    margin: .5rem 0
}

.subscription-method__add-card {
    margin-top: 3rem
}

.subscription-method .add-gift-card {
    justify-content: flex-start
}

.subscription-method .dual-input {
    margin-right: .75rem
}

.subscription-method__add-credit-card {
    margin: 3.25rem 0 5.875rem auto;
    width: fit-content
}

.subscription-method__add-credit-card>div {
    display: flex;
    align-items: center
}

@media screen and (max-width:37.5rem) {
    .subscription-method__add-credit-card {
        width: 100%
    }
}

.subscription-method__detail-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem .75rem 1.5rem 0;
    font-size: 1.125rem;
    font-weight: 700
}

.subscription-method__detail-cell--last {
    justify-content: flex-end;
    padding-right: 0
}

.subscription-method__detail-cell--cancelled {
    color: red;
    width: 100%;
    text-align: right;
    padding-right: .6rem;
    text-transform: uppercase
}

.subscription-method__detail-cell__balance {
    font-size: .875rem;
    font-weight: 400;
    margin-right: 1rem;
    line-height: 1;
    text-transform: uppercase
}

@media(max-width:600px) {
    .subscription-method__detail-cell {
        padding: 0
    }
}

@media(max-width:470px) {
    .subscription-method__detail-cell {
        align-items: flex-start
    }
}

.subscription-method__detail-cell h3 {
    font-size: 1.1875rem;
    font-weight: 700;
    margin: 0
}

.subscription-method__detail-cell p {
    font-size: .875rem;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase
}

.subscription-method__detail-cell button {
    margin-left: .5rem
}

.expired-card {
    color: red
}

.manage-payment-methods {
    max-width: 64rem;
    background: #fff;
    width: 100%
}

.manage-payment-methods__expiration-date {
    text-transform: initial !important;
    margin-left: 2.5rem !important;
    display: flex;
    align-items: center
}

.manage-payment-methods__card-image {
    height: 1.125rem;
    width: 1.6875rem;
    margin-right: 1rem
}

.manage-payment-methods__card-info {
    max-width: 35rem;
    display: flex
}

@media screen and (max-width:470px) {
    .manage-payment-methods__card-info {
        flex-direction: column
    }

    .manage-payment-methods__card-info .manage-payment-methods__expiration-date {
        margin-left: 0 !important
    }
}

.manage-payment-methods__table-intro {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 1.5rem 0 2rem
}

.manage-payment-methods h4 {
    font-size: 1.125rem;
    font-weight: 700;
    margin: .5rem 0
}

.manage-payment-methods__add-card {
    margin-top: 3rem;
    display: flex;
    justify-content: end
}

.manage-payment-methods__add-card button {
    flex: 0 1 16rem
}

@media screen and (max-width:660px) {
    .manage-payment-methods__add-card button {
        flex: 1 1 auto
    }
}

.manage-payment-methods .add-gift-card {
    justify-content: flex-start
}

.manage-payment-methods .dual-input {
    margin-right: .75rem
}

.manage-payment-methods__add-credit-card {
    margin: 3.25rem 0 5.875rem auto;
    width: fit-content
}

.manage-payment-methods__add-credit-card>div {
    display: flex;
    align-items: center
}

@media screen and (max-width:37.5rem) {
    .manage-payment-methods__add-credit-card {
        width: 100%
    }
}

.manage-payment-methods__detail-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem .75rem 1.5rem 0;
    font-size: 1.125rem;
    font-weight: 700
}

.manage-payment-methods__detail-cell--last {
    justify-content: flex-end;
    padding-right: 0
}

.manage-payment-methods__detail-cell--cancelled {
    color: red;
    width: 100%;
    text-align: right;
    padding-right: .6rem;
    text-transform: uppercase
}

.manage-payment-methods__detail-cell__balance {
    font-size: .875rem;
    font-weight: 400;
    margin-right: 1rem;
    line-height: 1;
    text-transform: uppercase
}

@media(max-width:600px) {
    .manage-payment-methods__detail-cell {
        padding: 0
    }
}

@media(max-width:470px) {
    .manage-payment-methods__detail-cell {
        align-items: flex-start
    }
}

.manage-payment-methods__detail-cell h3 {
    font-size: 1.1875rem;
    font-weight: 700;
    margin: 0
}

.manage-payment-methods__detail-cell p {
    font-size: .875rem;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase
}

.manage-payment-methods__detail-cell button {
    margin-left: .5rem
}

.payment_methods_wrapper {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem
}