.authorize_net {
    display: flex
}

.authorize_net-button {
    flex: 0 1 17.5rem
}

@media screen and (max-width:600px) {
    .authorize_net-button {
        flex: 1 1 auto
    }
}

.authorize_net-button:disabled {
    opacity: .6
}

.authorize_net-link {
    margin: .3rem;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 700;
    color: #ff6900
}

.authorize_net-link:hover {
    cursor: pointer
}

.authorize_net__google-button {
    display: flex !important;
    flex: 1 1 auto
}

.authorize_net__google-button div {
    display: flex !important;
    flex: 1 1 auto
}

.authorize_net__google-button button {
    opacity: 1;
    transition: all .2s ease-in-out;
    min-width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    margin: 0 .25em .5em;
    height: 53px;
    padding: 14px !important;
    flex: 0 1 17.5rem
}

@media screen and (max-width:600px) {
    .authorize_net__google-button button {
        flex: 1 1 auto
    }
}

.authorize_net__google-button button:disabled {
    opacity: .3;
    cursor: not-allowed;
    opacity: 1;
    background: #5d5d5d
}

.authorize_net__google-button button:disabled:hover {
    background: #5d5d5d;
    transform: scale(1)
}

.authorize_net__google-button button:hover,
.authorize_net__google-button button:focus,
.authorize_net__google-button button:active {
    transform: scale(1.03)
}

.authorize_net {
    display: flex
}

.authorize_net-button {
    flex: 0 1 17rem
}

@media screen and (max-width:600px) {
    .authorize_net-button {
        flex: 1 1 auto
    }
}

.authorize_net-button:disabled {
    opacity: .6
}

.authorize_net-link {
    margin: .3rem;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 700;
    color: #ff6900
}

.authorize_net-link:hover {
    cursor: pointer
}

.authorize_net__giftcard-button {
    margin: 0 .25em .5em;
    flex: 0 1 17rem
}

@media screen and (max-width:600px) {
    .authorize_net__giftcard-button {
        flex: 1 1 auto
    }
}

.authorize_net__google-button {
    display: flex !important;
    flex: 0 1 17.5rem
}

@media screen and (max-width:600px) {
    .authorize_net__google-button {
        flex: 1 1 auto
    }
}

.authorize_net__google-button div {
    display: flex !important;
    flex: 1 1 auto
}

.authorize_net__google-button button {
    opacity: 1;
    transition: all .2s ease-in-out;
    min-width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    margin: 0 .25em .5em;
    height: 53px;
    padding: 14px !important;
    flex: 0 1 17.5rem
}

@media screen and (max-width:600px) {
    .authorize_net__google-button button {
        flex: 1 1 auto
    }
}

.authorize_net__google-button button:disabled {
    opacity: .3;
    cursor: not-allowed;
    opacity: 1;
    background: #5d5d5d
}

.authorize_net__google-button button:disabled:hover {
    background: #5d5d5d;
    transform: scale(1)
}

.authorize_net__google-button button:hover,
.authorize_net__google-button button:focus,
.authorize_net__google-button button:active {
    transform: scale(1.03)
}

#bt-paypal-button {
    width: 100%;
    height: 100%;
    opacity: .00001;
    position: absolute;
    top: 0;
    left: 0
}

.paypal-button-display-content {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: none
}

.paypal-button-display-content svg {
    height: 1.187rem;
    width: 4.375rem;
    margin-right: 0
}

.venmo-button {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: none;
    background: #008cff;
    border-radius: 20rem;
    border: none;
    padding: 1.125rem 1.5rem;
    flex: 0 1 17.5rem;
    transition: all .2s ease-in-out
}

.venmo-button:hover,
.venmo-button:focus,
.venmo-button:active {
    transform: scale(1.03);
    cursor: pointer
}

@media screen and (max-width:37.5rem) {
    .venmo-button {
        width: 100%;
        flex: 1 1 auto
    }
}

.venmo-button svg {
    height: 1.0625rem
}

.venmo-button div {
    display: flex
}

.authorize_net {
    display: flex
}

.authorize_net-button {
    flex: 0 1 17.5rem
}

@media screen and (max-width:600px) {
    .authorize_net-button {
        flex: 1 1 auto
    }
}

.authorize_net-button:disabled {
    opacity: .6
}

.authorize_net-link {
    margin: .3rem;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 700;
    color: #ff6900
}

.authorize_net-link:hover {
    cursor: pointer
}

.authorize_net__google-button {
    display: flex !important;
    flex: 1 1 auto
}

.authorize_net__google-button div {
    display: flex !important;
    flex: 1 1 auto
}

.authorize_net__google-button button {
    opacity: 1;
    transition: all .2s ease-in-out;
    min-width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    margin: 0 .25em .5em;
    height: 53px;
    padding: 14px !important;
    flex: 0 1 17.5rem
}

@media screen and (max-width:600px) {
    .authorize_net__google-button button {
        flex: 1 1 auto
    }
}

.authorize_net__google-button button:disabled {
    opacity: .3;
    cursor: not-allowed;
    opacity: 1;
    background: #5d5d5d
}

.authorize_net__google-button button:disabled:hover {
    background: #5d5d5d;
    transform: scale(1)
}

.authorize_net__google-button button:hover,
.authorize_net__google-button button:focus,
.authorize_net__google-button button:active {
    transform: scale(1.03)
}

.tesco-payment-popup {
    padding: 1rem 2.5rem 1.5rem
}

.tesco-payment-popup button {
    width: 100%;
    margin-top: 1.5rem
}

.tesco-terms-header {
    font-size: 1.3125rem;
    font-weight: 700
}

.tesco-terms-subtitle {
    font-size: 1rem;
    font-weight: 400 !important
}

.tesco-terms-subtitle a {
    color: #e32313;
    text-decoration: none
}

.tesco-terms-text-bold {
    font-weight: 700
}

.tesco-voucher-error {
    color: red !important
}

.apple-pay-button {
    display: flex;
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: plain;
    flex: 0 1 17.5rem;
    width: 100%;
    cursor: pointer
}

@media screen and (max-width:37.5rem) {
    .apple-pay-button {
        width: 100%;
        flex: 1 1 auto;
        height: 51px
    }
}

.braintree-payment {
    overflow: visible;
    width: 100%
}

.braintree-payment__checkout-page-button {
    text-transform: none;
    flex: 0 1 17.5rem
}

@media screen and (max-width:600px) {
    .braintree-payment__checkout-page-button {
        flex: 1 1 auto
    }
}

.braintree-payment-group {
    display: flex;
    flex-wrap: wrap;
    margin: .625rem -.5rem 0
}

.braintree-payment-group button {
    margin: 0 .25rem .625rem
}

@media screen and (max-width:600px) {
    .add-cc-button {
        width: 100%
    }
}

.add_payment_method h1 {
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 1rem 0
}

.payment_methods_add_select {
    max-width: 1200px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: visible
}

.payment_methods_add_select h2 {
    width: 100%
}

.payment_methods_add_select form {
    display: flex;
    flex: 1 1 auto
}

.payment_methods_add_select-gc-button {
    margin: 0
}

.payment_methods_add_select-gc-link {
    margin: .3rem;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 700;
    color: #2bb673
}

.payment_methods_add_select-gc-link:hover {
    cursor: pointer
}

.payment_methods_add_select-authorize_iframe {
    width: 100%;
    border: none
}

.payment_methods_add_select-authorize {
    flex: 1 1 auto;
    margin: 0 .25em .5em
}

.payment_methods_add_select-giftcard {
    flex: 1 1 auto
}